{% extends "decoupled_base.html" %}
{% block content %}

{% if authentication_uuid %}
<form class="authentication" method="get" action="authentication/{{ authentication_uuid }}">
    <div class="form-field">
        {% if authentication_status %}
            <label>Authentication successful!</label>
        {% else %}
            <label>Authentication not verified!</label>
        {% endif %}
    </div>
    <div class="form-field">
        <a href="authentication">Resend authentication Email?</a>
    </div>
</form>
{% else %}
<form class="authentication" method="post" action="authentication">
    <div class="form-field">
        <input type="email" placeholder="Email" name="authentication_email" required/>
    </div>
    <div class="form-field">
        <button class="btn" type="submit">Resend Authentication Email</button>
    </div>
</form>
{% endif %}

{% endblock content %}