{% extends "decoupled_base.html" %}
{% block content %}

<form class="login" method="post" action="login">
    <div class="form-field">
        <input type="hidden" name="login_referrer" autocomplete="off" value={{ referrer_endpoint }} required>
        <input type="text" placeholder="Email / Username" name="login_email_username" required/>
    </div>

    <div class="form-field">
        <input type="password" placeholder="Password" name="login_password" required/>
    </div>
    <div class="form-field">
        <button class="btn" type="submit">Log in</button>
    </div>
    <div class="form-field">
        <a href="login">Forgot Password?</a>
    </div>
    <div class="form-field">
        <a href="register">Signup</a>
    </div>
</form>

{% endblock content %}